*{
    padding: 0;
    margin: 0;
}

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
 nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px;
    
 }

 nav li{
    display: flex;
    margin-right: 50px;
 }

 nav ul li{
    list-style: none;
    display: flex;
 }

 .text-primary{
    color: rgb(255, 166, 2);
 }

 nav li a{
    text-decoration: none;
    
 }

 nav ul{
    display: flex;
    align-items: center;
 }

 .btn-hd{
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    margin-top: 5px;


 }
 .dark-2{
    color: #474747;
 }

 /* bannner */

 .banner{
    display: flex;
    justify-content: space-between;
    margin: 0px 35px 0px 150px;
 }

.banner-content{
    max-width: 580x;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-right: ;
}
.h4m{
   font-size: 45px;
   font-weight: 600;
}
.h2n{
    font-weight: bold;
    font-size: 45px;
}
.imglol{
    width: 580px;
}
.headr{
    background-image: url(../image/developer.png),url(../image/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    margin: 0px;
}

/* section design s */

.about-title{
   font-size: 35px;
   font-weight: bold;
   color: black;
}
.title-des{
   font-size: 18px;
   color: #757575;
}
.secondary-bg{
   background-color: rgb(243, 200, 122);

}

.about{
   border-radius: 10px;
   padding: 130px 150px;
   text-align: center;
   margin-top: 30px;
   margin-right: 80px;
    margin-left: 80px;

}

main{
   max-width: 1140px;
   margin: 0 auto;
}

.about-items{
   display: flex;
   justify-content: space-around;
   padding: 20px;
}

.skil-title{
   text-align: center;
   margin: 100px;
   padding: 0 auto;

}

.skill-container{
   display: flex;
   gap: 10px;
    padding: 10px; 
   border-radius: 10px;
   
   
}

.skill1{
   padding: 30px;
   box-shadow: 0 6px 50px 0 rgb(109, 109, 109);
   border-radius: 10px;
   

   
}

